# Example of how to use pandas to perform a query in two list

In [4]:
# First we import the libraries

import numpy as np
import pandas as pd

In [86]:
cities = ['Malaga','Sevilla','Almeria','Cartagena']
states = ['Andalucia','Murcia']

value = [3,4,5,6,1,3,5,7,8,9]
places = ['Malaga', 'Andalucia', 'Murcia','Sevilla','Almeria','Cartagena','Malaga','Andalucia','Sevilla','Almeria']

# The if strategy

Numpy is a library to work in an efficient manner with arrays. using the method zip we are going to mix the two list of data.

In [31]:
#We try it using a numpy array

array = list(zip(places,value))
#print(array)

narray = np.array(array)
narray[narray == 'Murcia']

print(array[array == 'Murcia'])

('Malaga', 3)

In [90]:
%%time 
array = list(zip(places,value))

statesList = []
citiesList = []

for row in array:
    #The possition [0] will be the name of the city, the possition [1] will be the value. The append method will add 
    #the row to the list. 
    if row[0] in cities:
        
        citiesList.append(row)
    elif row[0] in states:
        
        statesList.append(row)
        
print(statesList)
print(citiesList)

[('Andalucia', 4), ('Murcia', 5), ('Andalucia', 7)]
[('Malaga', 3), ('Sevilla', 6), ('Almeria', 1), ('Cartagena', 3), ('Malaga', 5), ('Sevilla', 8), ('Almeria', 9)]
CPU times: user 846 µs, sys: 0 ns, total: 846 µs
Wall time: 547 µs

# The pandas strategy

Pandas is a library to work with dataframes. We can see the data as analogous to a excel sheet.

In [88]:
dictionary = {'places': places, 'value':value}
df = pd.DataFrame(data=dictionary)

print(df)

      places  value
0     Malaga      3
1  Andalucia      4
2     Murcia      5
3    Sevilla      6
4    Almeria      1
5  Cartagena      3
6     Malaga      5
7  Andalucia      7
8    Sevilla      8
9    Almeria      9

In [23]:
df[df.places == 'Malaga']

   places  value
0  Malaga      3
6  Malaga      5

To do a query having a

In [58]:
%%time

df[df.places.isin(cities)]

CPU times: user 7 µs, sys: 0 ns, total: 7 µs
Wall time: 14.3 µs

      places  value
0     Malaga      3
3    Sevilla      6
4    Almeria      1
5  Cartagena      3
6     Malaga      5
8    Sevilla      8
9    Almeria      9

In [91]:
%%time
df[df.places.isin(states)]

CPU times: user 2.47 ms, sys: 0 ns, total: 2.47 ms
Wall time: 2.41 ms

      places  value
1  Andalucia      4
2     Murcia      5
7  Andalucia      7

# Performance.

Here it seems that the if method is much more faster than Pandas **but what if we work with huge datasets**

In [102]:
valuehuge = np.repeat(value,10000000)
placeshuge = np.repeat(places,10000000)

In [103]:
%%time

array = list(zip(placeshuge,valuehuge))

statesList = []
citiesList = []

for row in array:
    #The possition [0] will be the name of the city, the possition [1] will be the value. The append method will add 
    #the row to the list. 
    if row[0] in cities:
        
        citiesList.append(row)
    elif row[0] in states:
        
        statesList.append(row)
        
#print(statesList)
#print(citiesList)

CPU times: user 48.1 s, sys: 9.03 s, total: 57.2 s
Wall time: 56.8 s

In [104]:
%%time
dictionary = {'places': placeshuge, 'value':valuehuge}
df = pd.DataFrame(data=dictionary)

citiesList = df[df.places.isin(cities)]
statesList = df[df.places.isin(states)]

CPU times: user 24 s, sys: 7.42 s, total: 31.4 s
Wall time: 25.2 s

So, the time used by the pandas method is almost half.